@charset "utf-8";
/* Layout CSS Document */
@media all and (max-width:639px) {
	/*#wrap.fixed .header_top{position:fixed; top:0; left:0; right:0;}*/
}
/*** Tablet 640px ~ 1023px ***/
@media all and (min-width:640px) {
	.header_top{height:34px; background-image:-webkit-linear-gradient(#478edc, #3173bc 30px, #2a65ae 30px); background-image:linear-gradient(#478edc, #3173bc 30px, #2a65ae 30px);}
	.header_top .wholeview,
	.header_top .btn_srch{display:none;}	
	.header_top .util_left{display:block; float:left; height:100%;}
	.header_top .local_medi{float:left; height:100%;}
	.header_top .local_medi a{display:block; box-sizing:border-box; height:100%; padding:7px 20px 0; border:1px solid #ddd; border-top:0; border-left:0; background:#fff; font-weight:600; line-height:1.5;}
	.header_top .local_medi a span{display:inline-block; position:relative; padding-left:12px;}
	.header_top .local_medi a span:before,
	.header_top .local_medi a span:after{content:''; display:inline-block; position:absolute; background:#d04365;}
	.header_top .local_medi a span:before{top:50%; left:0; width:8px; height:2px; margin-top:-1px;}
	.header_top .local_medi a span:after{top:50%; left:3px; width:2px; height:8px; margin-top:-4px;}
	.header_top .font_size{display:none;}	
	.header_top .util_right{float:right; height:100%; margin:0; padding:0;}
	.header_top .login_area{float:left; height:100%; border-radius:0;}
	.header_top .login_area li{width:auto; height:100%;}
	.header_top .login_area li a{box-sizing:border-box; height:100%; margin-left:0; padding:7px 20px 0; border-left:1px solid #2a65ae; background:none; font-weight:normal; line-height:1.5; color:#fff;}
	.header_top .login_area .sitemap{display:block;}	
	.header_top .lang_group{box-sizing:border-box; float:left; position:relative; top:auto; left:auto; width:auto; height:100%;}
	.header_top .lang_area{border-left:1px solid #ddd;}
	.header_top .sns_area{float:left; height:100%;}
	.header_top .sns_area li{float:left; height:100%; border-left:0; border-right:1px solid #ddd;}
	.header_top .sns_area li .sprh_com{height:100%;}
	.header_top .sns_area li.blog .sprh_com{background-position:0 -50px;}
	.header_top .sns_area li.facebook .sprh_com{background-position:-50px -50px;}
	.header_top .sns_area li.youtube{border-right:0;}
	.header_top .sns_area li.youtube .sprh_com{background-position:-100px -50px;}
	
	.header_mid{height:97px;}
	.header_mid:after{content:''; display:block; clear:both;}
	.header_mid .logo{float:left; margin:7px 0 0 6px; padding:0;}
	.header_mid .srch_area{display:block; float:right; width:250px; margin:23px 0 0;}
	.header_mid .srch_area .inp_srch{position:relative; box-sizing:border-box; height:33px; padding:0 34px 0 0; border:1px solid #dfdede; border-radius:2px; background:#eff2f7;}
	.header_mid .srch_area .inp_srch label{position:absolute; top:0; left:-9999em;}
	.header_mid .srch_area .inp_srch .word{width:100%; height:100%; border:0; background:none; box-shadow:none;}
	.header_mid .srch_area .inp_srch .btn_srch{position:absolute; top:-1px; right:-1px; width:34px; height:33px; border:0; background-position:0 -100px;}
	.header_mid .srch_area .hotkeyword{margin:9px 0 0;}
	.header_mid .srch_area .hotkeyword:after{content:''; display:block; clear:both;}
	.header_mid .srch_area .hotkeyword dt{float:left; color:#ee6d3a;}
	.header_mid .srch_area .hotkeyword dd{margin:0 0 0 75px;}
	.header_mid .srch_area .hotkeyword dd span{display:inline-block; padding:0 4px;}
	
	.gnb_wrap{display:block; height:54px; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
	.gnb_wrap .inr{position:relative; max-width:1260px; height:54px; margin:0 auto;}
	.gnb_wrap #gnb{margin:0 54px 0 0;}
	.gnb_wrap #gnb:after{content:''; display:block; clear:both;}
	.gnb_wrap #gnb>li{float:left; width:25%; height:54px;}
	.gnb_wrap #gnb>li>a{display:block; box-sizing:border-box; height:100%; padding:16px 0 0; border-right:1px solid #ddd; font-weight:600; font-size:1.46em; line-height:1.2; text-align:center;}
	.gnb_wrap .wholeview{position:absolute; top:0; right:0;}
	.gnb_wrap .wholeview.open{width:100%;}
	.gnb_wrap .wholeview .btn_open{position:absolute; top:0; right:0; width:54px; height:54px; background:none;}
	.gnb_wrap .wholeview .btn_open span,
	.gnb_wrap .wholeview .btn_open:before,
	.gnb_wrap .wholeview .btn_open:after{display:inline-block; position:absolute; top:50%; left:50%; overflow:hidden; width:20px; height:4px; margin-top:-2px; margin-left:-10px; background:#535353; vertical-align:top; text-indent:-9999em; transition:all 0.3s;}
	.gnb_wrap .wholeview .btn_open:before,
	.gnb_wrap .wholeview .btn_open:after{content:''; position:absolute; -webkit-transform-origin:50% 50%; transform-origin:50% 50%;}
	.gnb_wrap .wholeview .btn_open:before{margin-top:-9px;}
	.gnb_wrap .wholeview .btn_open:after{margin-top:5px;}
	.gnb_wrap .wholeview.open .btn_open span{opacity:0;}
	.gnb_wrap .wholeview.open .btn_open:before{-webkit-transform:translateY(7px) rotate(45deg); transform:translateY(7px) rotate(45deg);}
	.gnb_wrap .wholeview.open .btn_open:after{-webkit-transform:translateY(-7px) rotate(-45deg); transform:translateY(-7px) rotate(-45deg);}
	
	.gnb_wrap .wholeview .nav_wholeview{display:none; position:absolute; top:55px; left:0; z-index:100; box-sizing:border-box; width:100%; padding:20px; background:#eff2f7;}
	.gnb_wrap .wholeview.open .nav_wholeview{display:block;}
	
	.sub_visual{display:block; position:relative; box-sizing:border-box; height:229px; background:url(../images/common/img_subvisual01.jpg) no-repeat 50% 0;}
	.sub_visual .txt{padding:70px 0 0; color:#fff; text-align:center;}
	.sub_visual p.tit{display:inline-block; margin:0 0 20px; padding:6px 30px; border-top:1px solid #fff; border-bottom:1px solid #fff; font-weight:600; font-size:2.69em; line-height:1.2;}
	
	/* Title */
	.location_wrap>.tit{top:-9999em;}
	
	/* LNB */
	.location_wrap .nav{display:block; float:left;}
	.location_wrap .nav>li{float:left; position:relative; padding:0 25px 0 0;}
	.location_wrap .nav>li:after{content:''; position:absolute; top:0; right:0; width:25px; height:45px; background-position:0 -170px;}
	.location_wrap .nav>li a{display:block;}
	.location_wrap .nav>li>a{position:relative; box-sizing:border-box; height:45px; padding:14px 20px 0 15px; font-weight:600; line-height:1.3;}
	.location_wrap .nav>li:first-child>a{overflow:hidden; text-indent:-9999em; white-space:nowrap;}
	.location_wrap .nav>li:first-child>a:after{content:''; position:absolute; top:50%; left:50%; width:13px; height:11px; margin:-6px 0 0; background-position:0 -150px;}
	.location_wrap .nav>li>a .unfd{position:absolute; top:50%; right:5px; overflow:hidden; width:0; height:0; margin:-2px 0 0; border:4px solid #fff; border-top-color:#000; text-indent:-9999em; white-space:nowrap; transition:all 0.3s; -webkit-transform-origin:50% 25%; transform-origin:50% 25%;}
	.location_wrap .nav>li>a.on .unfd{-webkit-transform:rotate(180deg); transform:rotate(180deg);}
	.location_wrap .nav>li>div{position:absolute; top:45px; left:-25px; z-index:50; box-sizing:border-box; width:100%; border:1px solid #ddd; background:#fff;}
	.location_wrap .nav>li>div>ul{margin:0 0 -1px;}
	.location_wrap .nav>li>div>ul>li{border-bottom:1px solid #dadada;}
	.location_wrap .nav>li>div>ul>li>a{padding:12px 10px 11px 20px; font-weight:600; line-height:1.3;}
	.location_wrap .nav>li>div>ul>li>a:hover,
	.location_wrap .nav>li>div>ul>li>a:active,
	.location_wrap .nav>li>div>ul>li>a:focus{background:#f4f4f4; color:#0061bf;}
	
	/* Cont_Foot */
	.cont_foot .cont_manager .inr{padding:0 20px;}
	.cont_foot .cont_manager .inr:after{content:''; display:block; clear:both;}
	.cont_foot .cont_manager .manager{float:left;}
	.cont_foot .cont_manager .update{float:right; margin:0;}
	.cont_foot .cont_rating .inp_area{box-sizing:border-box; max-width:600px; margin:0 auto;}
	
	/* Footer */
	#footer .site_related{display:block;}
		
}

/*** Pc 1024px ~ 1260px ***/
@media all and (min-width:1024px) {
	.header_top .inr{max-width:1260px; height:100%; margin:0 auto;}
	.header_top .font_size{display:block; float:left; height:100%;}
	.header_top .font_size dt,
	.header_top .font_size dd{box-sizing:border-box; float:left; height:100%; border-right:1px solid #2a65ae;}
	.header_top .font_size dt{padding:7px 15px 0; line-height:1.5; color:#fff;}
	.header_top .font_size button{display:block; position:relative; width:32px; height:100%; background:none;}
	.header_top .font_size button span{display:inline-block; overflow:hidden; text-indent:-9999em; white-space:nowrap;}
	.header_top .font_size button:before,
	.header_top .font_size button:after{content:''; display:inline-block; position:absolute; top:50%; left:50%; background:#fff;}
	.header_top .font_size button:before{width:10px; height:2px; margin:-1px 0 0 -5px;}
	.header_top .font_size button:after{width:2px; height:10px; margin:-5px 0 0 -1px;}
	.header_top .font_size button.zout:after{display:none;}
	
	.header_mid{max-width:1260px; margin:0 auto;}
	
	/* Gnb */
	#gnb{}
	#gnb>li.open>a{position:relative; color:#3274bc;}
	#gnb>li.open>a:after{content:''; display:block; position:absolute; bottom:0; left:-1px; right:-1px; height:3px; background:#3e83cf;}
	#gnb>li>div{display:none; position:absolute; top:54px; left:0; z-index:100; width:100%; margin:0 -1px; border:1px solid #3e83cf; background:#fff;}
	#gnb>li.open>div{display:block; box-sizing:border-box; min-height:317px; padding:30px 43px 30px 239px;}
	#gnb>li.open>div>ul:after{content:''; display:block; clear:both;}
	#gnb>li.open>div>ul>li{float:left; margin:0 10px; border:1px solid #ddd;}
	
	#header .nav_wholeview{top:54px; padding:10px; border:1px solid #3e83cf; background:#fff;}
	/* 1차 */
	#header .nav_wholeview>ul{margin:0 54px 0 -1.4358%;}
	#header .nav_wholeview>ul:after{content:''; display:block; clear:both;}
	#header .nav_wholeview>ul>li{box-sizing:border-box; float:left; width:23.5642%; margin:0 0 0 1.4358%; border-color:#dadada;}
	#header .nav_wholeview>ul>li>a{position:absolute; top:-9999em; overflow:hidden; padding:0;}
	/* 2차 */
	#header .nav_wholeview>ul>li>div{}
	#header .nav_wholeview>ul>li>div>ul{margin-bottom:-1px;}
	#header .nav_wholeview>ul>li>div>ul>li{border-top:0; border-bottom:1px solid #dadada;}
	#header .nav_wholeview>ul>li>div>ul>li>a{padding:11px 0 11px 15px; font-weight:600; font-size:1.15em;}
	/* 3차 */
	#header .nav_wholeview>ul>li>div>ul>li>ul{}
	#header .nav_wholeview>ul>li>div>ul>li>ul>li{border-top:1px solid #dadada;}
	#header .nav_wholeview>ul>li>div>ul>li>ul>li>a{padding:11px 0 11px 30px;}
	
	.location_wrap .inr{max-width:1260px; margin:0 auto;}
	.location_wrap .sns_area{margin-right:0;}
	.location_wrap .sns_area>li{margin-left:14px;}
	.location_wrap .sns_area>li.print{display:block;}
	
	.cont_wrap .cont_body{max-width:1260px; margin:0 auto;}
	
	/* Footer */
	#footer .inr:after{content:''; display:block; clear:both;}
	#footer .logo{float:left; margin:5px 0 0;}
	#footer .footer_cen{float:left; margin:0 0 0 45px;}
	#footer .nav_f{margin:0 0 10px;}
	#footer .site_related{top:50px;}
	
}

/*** Pc 1260px ~ ***/
@media all and (min-width:1260px) {
	.header_top .inr{border-left:1px solid #ddd; border-right:1px solid #ddd;}
	.gnb_wrap .inr{border-right:1px solid #ddd; border-left:1px solid #ddd;}
	
	/* Cont_Foot */
	.cont_foot .cont_manager .inr{max-width:1260px; margin:0 auto; padding:0;}
	.cont_foot .cont_manager .manager{float:left;}
	.cont_foot .cont_manager .update{float:right; margin:0;}
	.cont_foot .cont_rating .inp_area{box-sizing:border-box; max-width:600px; margin:0 auto;}
	
}