@charset "utf-8";
/* Layout CSS Document */
/* 스프라이트 이미지 */
.sprh_com,
#gnb>li>div a:before,
.location_wrap ol>li:before{display:inline-block; overflow:hidden; background:url(../images/common/sp_com.png) no-repeat 0 0; vertical-align:middle; text-indent:-9999em;}

#wrap{}
/* Header */
#header{min-widht:1000px; height:200px; background:url(../images/common/bg_subvisual01.png) no-repeat 50% 0;}
.header_top{width:1000px; height:90px; margin:0 auto;}
.header_top:after{content:''; display:block; clear:both;}
.header_top .logo{float:left; margin:27px 0 0 20px;}
.header_top .nav_top{float:right; overflow:hidden; margin:50px 20px 0 0;}
.header_top .nav_top li{float:left; position:relative; margin-left:-1px; padding-left:1px;}
.header_top .nav_top li:before{content:''; display:inline-block; position:absolute; top:50%; left:0; width:1px; height:10px; margin-top:-5px; background:#856f61;}
.header_top .nav_top li a{display:block; position:relative; padding:5px 10px; font-weight:bold; color:#bf9f8b;}
/* gnb */
.gnb_area{width:1000px; margin:0 auto;}
#gnb{position:relative; width:1000px; height:80px; background:#fff;}
#gnb>li{float:left; position:relative; width:170px; height:100%;}
#gnb>li:first-child+li+li+li{width:160px;}
#gnb>li:first-child+li+li+li+li{width:140px;}
#gnb>li:first-child+li+li+li+li+li{width:190px;}
#gnb>li:before{content:''; display:inline-block; position:absolute; top:0; left:0; width:1px; height:100%; background:#d4d4d4;}
#gnb>li:first-child:before{display:none;}
#gnb>li>a{display:block; position:relative; height:80px; font-weight:bold; font-size:1.23em; line-height:80px; text-align:center;}
#gnb>li.on>a{color:#b4813f;}
#gnb>li.on>a:after{content:''; display:inline-block; position:absolute; top:0; left:0; right:0; height:3px; background:#b4813f;}
#gnb>li>div{display:none; position:absolute; top:80px; left:0; z-index:30; box-sizing:border-box; width:100%; padding:18px 11px; background:#6a5a4a;}
#gnb>li.open>div{display:block;}
#gnb>li>div a{display:block; position:relative; padding:3px 5px 3px 10px; color:#fff;}
#gnb>li>div>ul>li>a:before{content:''; display:inline-block; position:absolute; top:50%; left:0; width:3px; height:3px; margin-top:-1px; background-position:-80px 0;}
#gnb>li>div>ul>li>a:hover,
#gnb>li>div>ul>li>a:focus{font-weight:bold; color:#ffbb61;}

/* 현재위치 */
.location_wrap{position:relative; min-width:1000px; border-bottom:1px solid #d4d4d4; background:#f2f2f2;}
.location_wrap .inr{width:1000px; min-height:39px; margin:0 auto;}
.location_wrap .inr:after{content:''; display:block; clear:both;}
.location_wrap ol{float:right; margin:0 10px 0 0;}
.location_wrap ol>li{float:left; position:relative; padding:0 10px 0 39px; line-height:39px;}
.location_wrap ol>li.sprh_com{width:19px;background:none;}
.location_wrap ol>li:before{content:''; position:absolute; top:0; left:0; width:20px; height:39px; background-position:-30px 0;}
.location_wrap ol>li:first-child:before{top:50%; left:39px; width:19px; height:18px; margin-top:-9px; background-position:0 0;}

/* Container */
#container{width:1000px; margin:0 auto; padding:20px 0 90px;}
#container:after{content:''; display:block; clear:both;}

/* side */
#side{float:left; width:210px;}
#side .snb_area{border:1px solid #d4d4d4;}
#side .snb_area .title{position:relative; margin:-1px; padding:35px 10px; background:#6c5648; font-weight:bold; font-size:2em; line-height:1.2; color:#fff; text-align:center; word-break:keep-all; word-wrap:break-word;}
#side .snb_area .title:after{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:3px; background:#9c6646;}
#side .snb_area .title span:before{content:''; display:block; position:absolute; top:0; left:0; z-index:10; width:35px; height:3px; background:#ff5813;}
#side .snb_area .title span:after{content:''; display:block; position:absolute; top:0; left:35px; z-index:10; width:35px; height:3px; background:#68796c;}
#side .snb>li{border-top:1px solid #d4d4d4;}
#side .snb a{display:block; padding:13px 18px; font-weight:bold; font-size:1.08em; line-height:1.5; word-break:keep-all; word-wrap:break-word;}

/* Content */
.cont_wrap{float:right; width:750px;}
/* Cont Head */
.cont_head {border-bottom:1px solid #d4d4d4;}
/* 컨텐츠 타이틀 */
.cont_head .title{padding:55px 0 10px;font-size:2.27em; line-height:1.2; letter-spacing:-1px;}

/* Cont Body */
.cont_body{padding:20px 0; line-height:1.6;}

/* Cont Foot */
.cont_foot{}
.cont_manager{padding:20px 0; border-top:1px solid #ddd;}
.cont_manager:after{content:''; display:block; clear:both;}
.cont_manager dl{text-align:center; letter-spacing:-1px;}
.cont_manager dl.update{margin:10px 0 0;}
.cont_manager dt,
.cont_manager dd{display:inline-block;}
.cont_manager dt{font-weight:600;}
.cont_manager dd span{display:inline-block; position:relative; padding:0 5px;}
.cont_manager dd span:before{content:''; display:inline-block; position:absolute; top:3px; left:0; width:1px; height:10px; background:#ddd;}
.cont_manager dd span:first-child:before{display:none;}
.cont_rating{padding:40px 10px; border-top:1px solid #dadada; border-bottom:1px solid #dadada; background:url(../images/common/bg_cont_rating.png) repeat 0 0;}
.cont_rating h2{margin:0 0 15px; font-weight:600; font-size:1.15em; text-align:center; letter-spacing:-1px;}
.cont_rating .inp_area{position:relative; padding:15px 85px 10px 20px; border:1px solid #dadada; background:#fff;}
.cont_rating .inp_area .btn_rate{position:absolute; top:-1px; right:-1px; bottom:-1px; width:73px; border:0; background:#0674c9; color:#fff;}
.cont_rating .inp_group{display:inline-block; margin:0 10px 5px 0;}
.cont_rating .inp_group label{margin-left:-4px;}

/* Footer */
#footer{min-width:1000px; background:#363230;}
#footer .nav_f{min-width:1000px; border-bottom:1px solid #484340;}
#footer .nav_f ul{overflow:hidden; width:1000px; margin:0 auto;}
#footer .nav_f ul>li{float:left; position:relative; margin-left:-1px; padding-left:1px;}
#footer .nav_f ul>li:first-child{padding-left:21px;}
#footer .nav_f ul>li:after{content:''; display:inline-block; position:absolute; top:50%; left:0; width:1px; height:10px; margin-top:-5px; background:#53504e;}
#footer .nav_f ul>li>a{display:block; padding:16px 12px; line-height:1.2; color:#75716e; letter-spacing:-1px;}
#footer .inr{position:relative; width:1000px; margin:0 auto;}
#footer .inr:after{content:''; display:block; clear:both;}
#footer .logo{float:left; margin:29px 50px 65px 35px;}
#footer .copyright{float:left; margin:29px 0 0; line-height:1.5; color:#a4a4a4;}
#footer .copyright .copy{margin:15px 0 0;}